
.idea/workspace.xml

.idea/vcs.xml

.idea/python_tick.iml

.idea/modules.xml

.idea/misc.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/dictionaries/jingtian.xml
